
<div class="jumbotron">
	<h1>About Us</h1>

	<p>Ira Downing: Geek, Nerd, Comics reading, Anime watching scum of the universe.</p>
	<a href="https://www.linkedin.com/in/ira-downing-258068b" target="_blank">LinkedIn/</a>
	<a href="https://www.facebook.com/ZeroAbility" target="_blank">Facebook/</a>
	<a href="https://twitter.com/dml337ira" target="_blank">Twitter</a>
	
	<p> 
	Other Projects:
	<a href="http://www.zero-ability.com" target="_blank">Zero-Ability/</a>
	<a href="http://www.thedigitalmercenary.us" target="_blank">DigitalMercenary/</a>
	<a href="http://omruby.digitalmerc.us" target="_blank">Weather App/</a>
	<a href="http://omruby.digitalmerc.us:8081" target="_blank">Stock_Price_App</a>
	</p>

	<pre>
	This app was wriiten during the One Month Rails online course.
	The course touched on many subjects from 
	GIT, Bootstrap, Heroku, Ruby, Devise, Paperclip, Glyphicons, HTML and CSS 
	<a href="https://onemonth.com/" target="_blank">One Month</a>
	</pre>

	<p><font color="red">"Big shout out to Mattan Griffel and the One Month Forums crew for helping me work out the bugs"
	</font></p>


	<p>
	I added the embedded video because I'm a big fan of EDM. Enjoy!
	</p>

<iframe width="512" height="250" src="https://www.youtube.com/embed/zNTlBS3YTz8" frameborder="0" allowfullscreen></iframe>

</div>

